* {
  margin: 0px;
  padding: 0px;

}

body {
    background-color: rgb(5, 5, 5);
    color: ghostwhite;
    font-family: 'Press Start 2P', cursive;    
    font-size: medium;
    /* font-family: 'Press Start 2P', cursive;     */
    font-size: small;
    overflow-x: hidden;
}
p {
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
}

.pcard:hover {
    text-shadow: 0px 0px 6px rgb(147, 59, 230);
}

.logo {
    width: 528px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
 .container2 {
     display: flex;
     margin: 45px;
     justify-content: center;
     align-content: center;
     align-items: center;
 }
.navtop {
  overflow: hidden;
  background-color: ghostwhite;
}

main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


.navtop input[type=text] {
    float: right;
    padding: 1px;
    border: solid;
    margin-top: 8px;
    font-size: 20px;

}



.outterbox {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    background: black;
    width:100% ;
    height: 100%;
}

    
/*Footer style*/
#footerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: blueviolet;
    border-width: 25px;
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    padding-top: 30px;
}



.videoSelection {
    margin:40px;
    cursor: pointer;
    width: 360px;
    height: 260px;
    border: blueviolet;
    border-style: solid;
    border-width: 5px;
}

.videoSelection:hover {
    box-shadow: 0px 0px 10px 10px rgb(210, 32, 255);
    cursor: pointer;
    transition: 1s;
    width: 375px;
    height: 275px;
    transition-duration: 1s;
}


.hero {
    margin-top: auto;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.profile {
    margin-left: 30%;
}

img.responsive-img {
    max-width: 100%;
    height: auto;
    margin-top: 69px;
    border-radius: 50px;
    border-color: blueviolet;
    border-style: double;
    box-shadow: 0px 0px 10px 4px rgb(210, 32, 255);
    transition: 1s;
}

.statspic {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 300px;
    height: 250px;
    position: relative;
    margin: auto;
    padding: 10px;
}

.descright {
   position: relative;
   left: 444px;
   top: -244px;
   display: flex;
   justify-items: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   color: white;

}

.pstyle {
    color: white;
}


/*Watch page style*/
#watchVideo {
    width: 880px;
    height: 620px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: blueviolet;
    border-style: solid;
    border-width: 5px;
}

#watchVideo:hover {
    box-shadow: 0px 0px 10px 10px rgb(210, 32, 255);
    cursor: pointer;
    transition: 1s;
    width: 900px;
    height: 650px;
    transition-duration: 1s;
}

#mainWatchPage {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

#description {
    width: 1280px;
    background-color: white;
    color: black;
    margin-bottom: 25px;
    border: blueviolet;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}

#topDesc {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}





#bottomDesc {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} #bottomDesc>* {
    padding: 0 5px;
}

/*Links page*/

 #linksbanner {
     width: 100%;
 }

 .cardContainer {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     font-size: 12px;
     color: black;
     margin-bottom:90px;
     text-align: center;
 }

.cardtitle {
    font-size: 15px;
   
}

 #cards {
     margin: 80px;
     width: 450px;
     height: 380px;
     overflow-wrap: normal;
 }
 
 a {
     color: white;
 }

 .description {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     flex-wrap: nowrap;
     align-content: center;
 }

 /*test css for stats  */
 .maxcontainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     width:100% ;
    height: 100%;
}
    
 

 .boxone {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-end;
     

 }

 



 .descright1 {
     color: white;
 }

 @media screen and (max-width: 1300px) {
   

    .profile {
        margin-left: 50%;
    }
    
    .descright1 {
        color: white;
        text-align: center;
        margin-left:50%;
    }
 .boxone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    

}


}