body {
    background-color: rgb(24, 23, 23);
    color: ghostwhite;
    font-family: 'Press Start 2P', cursive;    
    font-size: large;
}

.logo {
    width: 528px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;

}

.navtop {
  overflow: hidden;
  background-color: ghostwhite;
}




.navtop input[type=text] {
    float: right;
    padding: 1px;
    border: solid;
    margin-top: 8px;
    font-size: 20px;

}



.outterbox {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    background: black;
    width:100% ;
    height: 100%;
}

    
/*Footer style*/
#footerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



iframe {
    margin: 5px;
    cursor: pointer;
}

iframe:hover {
    box-shadow: 0px 0px 10px 4px rgb(210, 32, 255);
    cursor: pointer;
    transition: 1s;
}

.hero {
    margin-top: auto;
}

img.responsive-img {
    max-width: 100%;
    height: auto;
    margin-top: 69px;
    border-radius: 150px;
    border-color: blueviolet;
    border-style: double;
    box-shadow: 0px 0px 10px 4px rgb(210, 32, 255);
    transition: 1s;
}


/*Watch page style*/
#watchVideo {
    width: 1280px;
    height: 720px;
    margin-top: 50px;
}

#mainWatchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    width: 1280px;
    background-color: white;
}

#topDesc {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#bottomDesc {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} #bottomDesc>* {
    padding: 0 5px;
}

/*Links page*/
 #linksbanner {
     width: 100%;
 }

 .cardContainer {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 #cards {
     margin: 50px;
     width: 300px;
     height: 300px;
     overflow-wrap: normal;
 }

